
# Cache DNS replies
enable_lru_cache: true
lru_cache_size: 100

# Listen on the following IP address and port
host: 127.0.0.1
port: 53
socket_timeout: 20

# DNS resolvers to forward queries to
udp_dns_servers: ['208.67.222.222:53', '208.67.220.220:53']
udp_mode: true

# Use Tor to perform DNS resolution
# If set, udp_dns_servers and udp_mode will be ignored
use_tor: false
tor_socks_ipaddr: '127.0.0.1'
tor_socks_port: 9050

# Filtering rules
filtering:

  # general rules are used as a default
  general:
  # drop all queries to drop.net
  - [drop.net, drop]

  # return nxdomain for nxdomain.net queries
  - [nxdomain.net, nxdomain]

  # return 127.0.0.1 for return1.net
  - [return1.net, return 127.0.0.1]

  # forward every other request to the DNS resolvers
  - ['*', accept]

  # process-specific rules for queries generate by "dig"
  dig:
  - ['*', nxdomain]
