daemon_process: false
enable_lru_cache: true
host: 127.0.0.1
lru_cache_size: 100
port: 53
socket_timeout: 20
speed_test: false
tcp_dns_servers: ['208.67.222.222:53', '208.67.220.220:53']
udp_dns_servers: ['208.67.222.222:53', '208.67.220.220:53']
udp_mode: true
filtering:
  general:
  - [drop.net, drop]
  - [nxdomain.net, nxdomain]
  - [return1.net, return 127.0.0.1]
  - [return2.net, return 127.0.0.2]
  - ['*', accept]
